* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: -apple-system, sans-serif;
}

:root {
    --bg-color: #001;
    --second-bg-color: #112;
    --text-color: #fff;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
}

::-webkit-scrollbar {
    width: 15px;
}

::-webkit-scrollbar-thumb {
    background-color: crimson;
    width: 50px;
}

body {
    background: var(--bg-color);
    color: var(--text-color);
}

section {
    min-height: 100vh;
    padding: 10rem 9% 2rem;
}

/* Header Section Code */

header {
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 40px 9%;
    background: rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(10px);
    transition: all 0.3s ease;
}

.logo a{
    color: #fff;
    font-size: 35px;
    font-weight: 600;
}
.logo a span{
    color: crimson;
    transition: all 0.3s ease;
}

.menu {
    display: flex; 
}

button {
    appearance: none;
    background-color: transparent;
    border: none;
    cursor: pointer;
    outline: none;
    padding: 0;
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    color: inherit;
    text-decoration: none;
    text-transform: none;
    line-height: normal;
    overflow: visible;
}

button span {
    color: #fff;
}

.menu li {
    display: flex;
    gap: 1rem;
    font-size: 1.4rem;
    color: white;
}
li>a>button {
    position: relative;
    display: grid;
    place-content: center;
    grid-template-areas: 'stack';
    padding: 0 1.5rem;
    text-transform: uppercase;
    font-weight: 300;
}

/* place button items on top of each other */
li>a>button>span {
    transition: all 300ms ease-in-out;
    grid-area: stack;
}
/* nav icon */
li>a>button>span:last-of-type {
    margin-top: 0.25rem;
    transform: scale(0);
    transition-delay: 0ms;
    border-radius: 50%;
}
/* hover - hide text */
li>a>button:focus-visible>span:first-of-type,
li>a>button:hover>span:first-of-type {
    transform: scale(0);
}
/* hover - reveal icon */
li>a>button:focus-visible>span:last-of-type,
li>a>button:hover>span:last-of-type {
    transform: scale(1);
    color: crimson;
}

.menu a {
    font-size: 1.8rem;
    font-weight: 500;
    margin-left: 4rem;
    transition: all 0.3s ease;
    border-bottom: 3px solid transparent;
}

.menu-btn{
    color: #fff;
    font-size: 23px;
    cursor: pointer;
    display: none;
}

/* Home Section Code */

.home {
    display: flex;
    align-items: center;
    background-color: var(--bg-color);
}



.home-img img {
    width: 25vw;
    margin-left: 100px;
    border: 3px solid crimson;
    border-radius: 51% 49% 48% 52% / 49% 49% 51% 51%;
    animation: borderAnimation 5s linear infinite;
}

@keyframes borderAnimation {
    0% {
        border-radius: 51% 49% 48% 52% / 49% 49% 51% 51%;
    }
    35% {
        border-radius: 60% 40% 57% 43% / 40% 54% 46% 60%;
    }
    65% {
        border-radius: 67% 33% 68% 32% / 27% 70% 30% 73%;
    }
    100% {
        border-radius: 51% 49% 48% 52% / 49% 49% 51% 51%;
    }
}

.featured-text {
    position: relative;
    display: flex;
    justify-content: center;
    align-content: center;
    min-height: 50vh;
    margin-bottom: -200px;
    flex-direction: column;
    width: 60%;
}
.featured-text .hello {
    font-size: 50px;
    font-weight: 500;
    margin-bottom: -20px;
    color: var(--text-color);
}

.featured-name {
    font-size: 50px;
    font-weight: 600;
    margin-block: 20px;
    color: crimson;
    margin-bottom: 10px;
}

#sliderValue {
    display: flex;
    font-family: sans-serif;
    color: crimson;
    font-size: 70px;
    font-weight: 600;
  }
  
  .start {
    opacity: 0;
  }
  
  .animation {
    animation: fade .3s forwards;
  }
  
  
  @keyframes fade {
    0%{
      opacity: 0;
      transform: translateY(20px);
    }
    100%{
      opacity: 1;
      transform: translateY(0px);
    }
  }
  
  .holder-animation {
    animation: holder 4s;
  }
  
  @keyframes holder {
    0%{
      opacity: 1;
    }
    95%{
      opacity: 1;
    }
    100%{
      opacity: 0;
    }
  }

.featured-text-info {
    font-size: 16px;
    margin-bottom: 30px;
}

.social_icons {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: -5px;
    gap: 32px;
}


.social_icons i {
    color: #ddd;
    font-size: 16px;
    background-color: transparent;
    margin: 5px;
    height: 40px;
    width: 40px;
    line-height: 40px;
    text-align: center;
    box-shadow: 0px 1px 5px 3px crimson;
    border-radius: 50%;
    transition: 0.5s;
}

.social_icons i:hover {
    transform: scale(1.2);
}

/* About Section Code */


.heading {
    text-align: center;
    font-size: 4.5rem;
}

.title_h1{
    color:#fff;
    margin-bottom: 1.1rem;
    position: relative;
    display: inline-block;
    font-size: 3.5rem;
  }
 
.about{
    background-color: #111;
    min-height: 50vh;
  }
.about-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20rem;
  }
  
  
  .about p{
    color:#fff;
    margin:1.5rem 0;
    font-size: 20px;
  }
  
   
  .about_social{
    margin-top: 10px;
    margin-bottom: 25px;
  }
  .about_social i{
    color:crimson;
    font-size: 16px;
    background-color:transparent;
    margin: 5px;
    height: 35px;
    width:35px;
    line-height: 35px;
    text-align: center;
    border-radius: 50px;
    transition: 0.5s;
    border:1px solid crimson;
  }
  .about_social i:hover{
    transform: scale(1.2);
    border:1px solid crimson;
  }
  
  .btn-b {
    display: inline-block;
    background: crimson;
    color: #fff;
    font-size: 20px;
    font-weight: 500;
    padding: 10px 30px;
    margin-top: 20px;
    border-radius: 6px;
    border: 2px solid crimson;
    transition: all 0.3s ease;
  }
  .btn-b:hover {
    color: crimson;
    background: none;
  }

/* services section styling */
.services, .portfolio{
    color:#fff;
    background: #111;
}
.services .title::before,
.portfolio .title::before{
    background: #fff;
}

.services-list{
    display : grid;
    grid-template-columns : repeat(auto-fit, minmax(250px, 1fr));
    grid-gap : 40px;
    margin-top : 50px;
   }

.services-list div{
      padding : 40px;
      font-size : 13px;
      font-weight : 300;
      border-radius : 15px;
      border: 2px solid #ff004f;
      transition : background 0.5s, transform 0.5s;
     }
.services-list div i{
          font-size : 50px;
          margin-bottom : 30px;
         }
.services-list div h2{
          font-size : 30px;
          font-weight : 500;
          margin-bottom : 15px;
          }
.services-list div a{
            text-decoration : none;
            color : #fff;
            font-size : 12px;
            margin-top : 20px;
            display : inline-block;
           }
.services-list div:hover{
               background : #ff004f;
               transform : translateY(-10px);
              }



/* Portfolio Section Code */

.portfolio {
    background: var(--bg-color);
}

.portfolio-content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, auto));
    align-items: center;
    gap: 2.3rem;
    margin-top: 4.2rem;
}

.row {
    background: var(--second-bg-color);
    border-radius: 28px;
    border: 1px solid transparent;
    box-shadow: 0 0 5px crimson;
    padding: 20px;
    transition: all 0.3s ease;
}

.row img {
    height: auto;
    width: 100%;
    border-radius: 28px;
    margin-bottom: 1.4rem;
}

.main-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 0.5rem;
}

.row h5 {
    font-size: 20px;
    font-weight: 600;
    color: var(--text-color);
}

.row i {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 55px;
    height: 55px;
    font-size: 27px;
    border-radius: 50%;
    color: var(--text-color);
    background: crimson;
}

.row h4 {
    font-size: 25px;
    font-weight: 700;
    margin-bottom: 10px;
    line-height: 1.4;
}

.row:hover {
    border: 1px solid crimson;
    transform: translateY(-5px) scale(1.03);
    cursor: pointer;
}

/* Contact Section Code */

.contact {
    background: var(--second-bg-color);
}

.contact h2 {
    margin-bottom: 3rem;
    color: var(--text-color);
}

.contact form {
    max-width: 90rem;
    margin: 1rem auto;
    text-align: center;
    margin-bottom: 3rem;
}

.contact form .input-box {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.contact form .input-box input,
.contact form textarea {
    width: 100%;
    padding: 1.5rem;
    font-size: 1.6rem;
    color: var(--text-color);
    background: var(--bg-color);
    border-radius: 0.8rem;
    border: 1px solid crimson;
    margin: 0.7rem 0;
    resize: none;
}
.contact form .input-box input,
.contact form textarea:hover {
    border: 1px solid crimson;
}

.contact form .input-box input {
    width: 49%;
    margin: 0.7rem 0.35rem;
}

.contact form .btn {
    margin-top: 2rem;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    width: 160px !important;
    height: 45px;
    outline: none;
    font-size: 18px;
    font-weight: 500;
    border-radius: 6px;
    cursor: pointer;
    flex-wrap: nowrap;
    background: crimson;
    border: 2px solid crimson;
    transition: all 0.3s ease;
}

.contact form .btn:hover {
   color: crimson;
   background: none
}




/* Footer Section Code */

.footer {
    position: relative;
    bottom: 0;
    width: 100%;
    padding: 40px 0;
    background: var(--bg-color);
}

.footer .social {
    text-align: center;
    padding-bottom: 25px;
    color: var(--main-color);
}

.footer .social a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    background: transparent;
    font-size: 2rem;
    font-size: 16px;
    margin: 20px;
    height: 40px;
    width: 40px;
    line-height: 40px;
    text-align: center;
    box-shadow: 0px 1px 5px 3px crimson;
    border-radius: 50%;
    transition: 0.5s;
    color: crimson;
}

.footer .social a:hover {
    transform: scale(1.2) translateY(-8px);
    background: var(--main-color);
    color: var(--text-color);
    box-shadow: 0 0 20px var(--main-color);
}

.footer .copyright {
    margin-top: 20px;
    text-align: center;
    font-size: 16px;
    color: var(--text-color);
}

/* Responsive Design Code */

@media (max-width: 1285px) {
    html {
        font-size: 55%;
    }
    .title_h1 {
        font-size: 24px;
    }
    .about-container {
        grid-template-columns: auto;
    } 
}

@media (max-width: 991px) {
    header {
        padding: 3rem 10%;
    }
    section {
        padding: 5rem 10% 2rem;
    }
    .footer {
        padding: 2rem 3%;
    }
    .menu-btn{
        display: block;
        z-index: 999;
    }
    .menu-btn i.active:before{
        content: "\f00d";
    }
    .menu{
        position: fixed;
        height: 100vh;
        width: 100%;
        left: -100%;
        top: 0;
        background: #111;
        text-align: center;
        flex-direction: column;
        padding-top: 80px;
        transition: all 0.3s ease;
    }
    .menu.active{
        left: 0;
    }
    .menu li{
        display: block;
    }
    .menu li a{
        display: inline-block;
        margin: 20px 0;
        font-size: 25px;
    }
}

@media (max-width: 786px) {
    section {
        padding: 5rem 10% 2rem;
    }
    
    .home-img img {
        display: none;
    }
    .about {
        flex-direction: column;
    }
    .contact form .input-box input {
        width: 100%;
    }
    
}



@media (max-width: 426px) {
    .heading {
        font-size: 5rem;
        text-align: center;
        margin: 2rem 0;
    }
    
}